
.mainGrid {
	margin: 4.8rem 0rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: repeat(10, minmax(0, 1fr));
	grid-template-areas:
		"one one two two"
		"one one three four"
        "one one three four"
        "one one three four"
        "five six six seven"
        "five six six seven"
        "five six six seven"
        "eight eight nine nine"
		"eight eight nine nine"
		"eight eight nine nine";
	width: 100%;
	height: 50rem;
	gap: 2rem;
}

.mainGrid div {
	width: 100%;
	height: 100%;
}

.mainGrid div:first-child {
	grid-area: one;
}

.mainGrid div:nth-child(2) {
	grid-area: two;
}

.mainGrid div:nth-child(3) {
	grid-area: three;
}

.mainGrid div:nth-child(4) {
	grid-area: four;
}
.mainGrid div:nth-child(5) {
	grid-area: five;
}
.mainGrid div:nth-child(6) {
	grid-area: six;
}
.mainGrid div:nth-child(7) {
	grid-area: seven;
}
.mainGrid div:nth-child(8) {
	grid-area: eight;
}
.mainGrid div:nth-child(9) {
	grid-area: nine;
}